{% extends "base.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
<style>
  body {
    font-family: 'VT323', monospace;
    font-size: 20px;
  }

      .forgot-password-link {
      text-align: center;
      margin-top: 10px;
      color: #4CAF50;
      cursor: pointer;
      text-decoration: underline;
    }

    #forgotPasswordForm {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: rgba(42, 42, 42, 0.8);
      border-radius: 5px;
      margin-top: 20px;
      display: none;
      backdrop-filter: blur(10px); /* Glass effect */
      border: 1px solid rgba(255, 255, 255, 0.2); /* Border color for contrast */
    }
</style>


<h2>Change Password</h2>
<div class="forgot-password-link" onclick="showForgotPasswordForm()">Forgot Password?</div>

    <!-- Forgot password form -->
    <div id="forgotPasswordForm">
      <h3>Forgot Password</h3>
      <div class="form-group">
        <label for="forgotEmail">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="forgotEmail"
          name="forgotEmail"
          placeholder="Enter your email"
        />
      </div>
      <br />
      <button type="button" class="btn btn-primary" onclick="submitForgotPasswordForm()">Reset Password</button>
    </div>

      <!-- Add Firebase JavaScript SDK -->
  <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase.js"></script>
  <script>
    var firebaseConfig = {
      'apiKey': "AIzaSyBUVGM_OnNbu_K8lLykM5T-Tu31mIUAgkw",
      'authDomain': "prepair-demo.firebaseapp.com",
      'projectId': "prepair-demo",
      'storageBucket': "prepair-demo.appspot.com",
      'messagingSenderId': "718275532446",
      'appId': "1:718275532446:web:0f85dd84fb87cc83fd0d8f",
      'measurementId': "G-3DLX53HNSV",
      'databaseURL' : ''
    };
    firebase.initializeApp(firebaseConfig);

  </script>


    <script>
      function showForgotPasswordForm() {
        var forgotPasswordForm = document.getElementById('forgotPasswordForm');
        if (forgotPasswordForm.style.display === 'none') {
          forgotPasswordForm.style.display = 'block';
        } else {
          forgotPasswordForm.style.display = 'none';
        }
      }
  
      function submitForgotPasswordForm() {
        var email = document.getElementById('forgotEmail').value;
  
        // E-posta adresini Firebase'e göndererek şifre sıfırlama emaili isteği yap
        var auth = firebase.auth();
        auth.sendPasswordResetEmail(email)
          .then(function () {
            // Şifre sıfırlama emaili başarıyla gönderildi
            console.log('Password reset email sent');
            alert('Password reset email sent. Please check your inbox.');
        // Şifremi unuttum formunu gönderdikten sonra gizle
            document.getElementById('forgotPasswordForm').style.display = 'none';
          })
          .catch(function (error) {
        // Hata oluştuğunda işlemler burada yapılacak
            console.error('Error sending password reset email:', error);
            alert('Error sending password reset email. Please try again.');
          });
      }
    </script>
{% endblock content %}