{% extends "base.html" %}

{% block title %}
    Hello
{% endblock title %}

{% block content %}
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        background: url("https://i.hizliresim.com/2dxehbp.png") center/cover no-repeat;
        color: #d4d4d4;
        font-family: 'VT323', monospace;
        font-size: 20px;
        display: flex;
    }

    .welcome-text {
        font-size: 2em;
        color: #fff;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
    }
</style>

<div class="glass-effect"></div>
    <div class="welcome-text">
        Hi there! Login or sign up to continue your journey!
    </div>
{% endblock %}
