{% extends "base.html" %}

{% block title %}
  Sign Up
{% endblock %}

{% block content %}
<style>
  body {
    background-image: url("https://i.hizliresim.com/2dxehbp.png");
    background-size: cover;
    background-position: center;
    color: #d4d4d4;
    font-family: 'VT323', monospace;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
  }

  form {
    max-width: 400px;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(42, 42, 42, 0.8);
    border-radius: 5px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2); /* Border color for contrast */
  }

  h3 {
    text-align: center;
    color: #8488F4;
  }

  label {
    color: #8488F4;
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Align labels to the left */
  }

  .form-control {
    background-color: #333;
    color: #d4d4d4;
    border: 1px solid #8488F4;
    padding: 10px;
    width: %95%;
    margin-bottom: 10px;
  }

  .btn-primary {
    background-color: #8488F4;
    border: 1px solid #8488F4;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #585EFF;
  }
  </style>

  <form method="POST">
    <h3>Sign Up</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter username"
      />
    </div>
    <div class="form-group">
      <label for="password1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select id="gender" name="gender" class="form-control">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">I don't want to specify</option>
      </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
